body {
    background-image: url(/img/background.png);
    background-size: contain;
    background-attachment: fixed;
}

h1
{
    font-family: monospace;
}




/* Absolutely positioned message container in the bottom right corner */
.msg-container {
    position: fixed;
    top: 1em;
    right: 1em;
    margin: 1em;
    z-index: 1000;
    border: none;
}

.msg.alert {
    /* light blue */
    background: #4080ff;
}

.msg.warning {
    /* yellowish */
    background: #ffff60;
    color: black;
    text-shadow: none;
}

.msg.error {
    /* light red */
    background: #ff6060;
}

.msg.visible {
    opacity: 1;
    transform: translateX(0);
}

.msg {
    opacity: 0;
    transform: translateX(10em);
    transition: 0.6s;

    background: #606060;
    border: 1px solid var(--white-30pc);
    border-radius: 1em;
    padding: 1vw;
    margin-bottom: 1vh;
    color: var(--white);
    font-size: 1.1em;
    text-align: center;
    width: 20vw;
    box-shadow: -1em 1em 1em #00000080;
}