.fade-down-move {
    transition: all 0.5s ease;
}

.fade-down-enter-active,
.fade-down-leave-active {
    transition: all 0.5s ease;
}

.fade-down-enter-from,
.fade-down-leave-to {
    opacity: 0;
    transform: translateY(-5em);
}




.fade-move-move {
    transition: all 0.2s ease;
}

.fade-move-enter-active,
.fade-move-leave-active {
    transition: all 0.2s ease;
}

.fade-move-enter-from,
.fade-move-leave-to {
    opacity: 0;
    transform: translateX(5em);
}


.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}



.rotate-enter-active,
.rotate-leave-active {
    transition: all 1s ease;
}

.rotate-enter-from,
.rotate-leave-to {
    position: absolute;
    opacity: 0;
    transform: rotateZ(90deg);
    transition: all 1s ease;
}