.slide-in-list-move,
.slide-in-list-leave-active,
.slide-in-list-enter-active
{
  transition: 0.5s ease-in-out;
  max-height: 10em;
  overflow: hidden;
}

.slide-in-list-enter,
.slide-in-list-leave-to
{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.slide-in-list-enter
{
  transform: translateX(3em);
}
.slide-in-list-leave-to
{
  transform: translateX(-3em);
}




.slide-in-list-large-move,
.slide-in-list-large-leave-active,
.slide-in-list-large-enter-active
{
  transition: 1s ease-in-out;
  max-height: 40em;
  overflow: hidden;
}

.slide-in-list-large-enter,
.slide-in-list-large-leave-to
{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.slide-in-list-large-enter
{
  transform: translateY(30em);
}
.slide-in-list-large-leave-to
{
  transform: translateY(-30em);
}





.slide-in-grid-move,
.slide-in-grid-leave-active,
.slide-in-grid-enter-active
{
  transition: 0.5s ease-in-out;
  max-height: 10em;
  overflow: hidden;
}

.slide-in-grid-enter,
.slide-in-grid-leave-to
{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.slide-in-grid-enter
{
  transform: translateY(-5em);
}
.slide-in-grid-leave-to
{
  transform: translateY(-5em);
}


