<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
          <!-- Set expire headers to 30 days for static content-->
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00.00:00:00" />
        </staticContent>
        <directoryBrowse enabled="false" />
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
