:root {
    --white-1: #ffffff20;
    --white-2: #ffffff30;
    --white-3: #ffffff40;
    --white-4: #ffffff50;
    --white-5: #ffffff80;
    --white-6: #ffffffa0;
}

.w-35pc {
    width: 35%;
}

.g-1em {
    gap: 1em;
}

ul.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

ul.horizontal>li {
    flex-grow: 1;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
