.category
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.category img
{
  width: 30%;
  border-radius: 0.5rem;
}

.question
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  padding: 1rem;
  min-height: 50%;
  border-radius: 0.5em;
  font-size: 80%;
  background: linear-gradient(225deg, #000000a0, #ffffff40);
  box-shadow: inset -4px 4px 16px #000;
}

.index
{
  font-size: 60%;
  opacity: 0.5;
}

