%html
  %head
    %title {{title}}
    %meta{content: "width=device-width, initial-scale=1", "data-n-head": "ssr", name: "viewport"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Old Standard TT|Oswald&display=swap"}
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css"}
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css"}
    %link{rel: "stylesheet", href: "/css/defaults.css"}
    %link{rel: "stylesheet", href: "/css/layout.css"}
    %link{rel: "stylesheet", href: "/css/transitions.css"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/dexie/3.2.3/dexie.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"}
    %script{src: "https://unpkg.com/vue-async-computed"}
    %script
      window.components = (((components)));
    %script
      window.templates = (((templates)));
    %script
      window.helpers = (((helpers)));
    %script
      window.config = (((config)));
    %script{src: "/script/startup.js"}
  %body
    %div
      %div{id: "app"}
        %app{ref: "app", ":key": "key1"}
        %ide-workspace{":comps": "comps", ":style": "getWorkspaceStyle()"}
        
