.results
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow: auto;
    font-size: 1.5rem;
    text-align: left;
}

.result
{
    gap: 1rem;
    border-radius: 0.5em;
    transition: 1s;
}

.result:hover
{
    padding: 0.5em;
    background: linear-gradient(225deg, #00000020, #ffffff20);
    box-shadow: inset -4px 4px 16px #000;
}

.explanation
{
    max-height: 0;
    overflow: hidden;
    color: yellow;
    text-align: center;
    transition: 1s;
}

.result .answer
{
    filter: grayscale(1);
    opacity: 0.8;
}

.result:hover .explanation
{
    margin-top: 1em;
    max-height: 10em;
}


.flex1
{
    display: flex;
    align-items: center;
    gap: 1rem;
}