*:not(td)
{
    border-radius: 0;
}

body
{
    font-family: Arial;
    background-attachment: fixed;
}

body, h1, h2, h3, h4, h5, h6
{
    color: black;
    text-shadow: none;
}

h1
{
    font-family: Playfair;
}

h2
{
    font-size: 2.5rem;
}

h3
{
    font-size: 1.5rem;
    line-height: 1.2em;
}

p
{
    text-align: justify;
    font-size: 1.2rem;
    line-height: normal;
}


.comp-at-teaser1 .div1, .img1 img
{
    box-shadow: -4px 4px 4px #00000080;
}

.div1, .fader1, .img1 img
{
    border-radius: 0.5em;
}

.fader1
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
}

@media (max-width: 1000px)
{
    .comp-at-teaser2.div1, .comp-at-teaser2 .div1
    {
        flex-direction: column !important;
    }

    .comp-at-teaser2.img1, .comp-at-teaser2 .img1,
    .comp-at-teaser2.div1 > *:not(.img1), .comp-at-teaser2 .div1 > *:not(.img1)
    {
        width: 100% !important;
    }
}