
div
{
    position: relative;
}

body
{
    background: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mobile
{
    aspect-ratio: 9 / 16;
    width: 22em;
    margin: auto;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.app > *
{
    position: absolute;
    top: 0;
    margin: 1vw;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-header
{
    position: sticky;
    top: 0;
    padding: 0 0 1vh 0;
    border: 1px solid transparent;
    box-shadow: 0px 6px 24px #000;
    background: #000;
    z-index: 10;
}


a, img
{
    border-radius: 0.5em;
}

a
{
    display: inline-block;
    color: white;
    text-decoration: none;
    background: none;
    transition: 0.3s;
}

a:hover
{
    background: #88888860;
    transition: 0s;
}

.bottom-right
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.buttons1
{
    display: flex;
    gap: 0.5em;
    margin: auto;
    width: fit-content;
}

.button1
{
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    font-size: 160%;
    opacity: 0.5;
    cursor: pointer;
}

.button1:hover
{
    background: #333;
    opacity: 1;
}

.flex
{
    display: flex;
}

.name
{
    font-size: 120%;
}

.dimmed
{
    opacity: 0.5;
}

img
{
    width: 100%;
}




/* Thin scrollbar track */
::-webkit-scrollbar {
    width: 0.5vw; /* Adjust width as needed */
}

/* Thin scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #80808060; /* Gray color for the scrollbar */
    border-radius: 0.5vw; /* Optional: rounded corners */
}

/* Scrollbar track (optional) */
::-webkit-scrollbar-track {
    background: #80808000; /* Light gray track */
    border-radius: 0.5vw; /* Optional: rounded corners */
}
