
$base-delay: 0ms;
$delay-increment: 100ms;
$page-transition: 1.5s;


.page-enter-active,
.page-leave-active {
  transition: all calc(#{$page-transition} * 0.7) ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 1;
}


/* comp-ui-list */
.page-header, .comp-ui-list-item
{
    transition: $page-transition;
}

.page-leave-active .comp-ui-list-item
{
    transform: translate(-200%, 0);
    opacity: 0;
}

.comp-ui-list-item.selected-active
{
    
}

.page-enter-from .comp-ui-list-item
{
    transform: translate(100%, 0);
    opacity: 0;
}

.page-enter-to .comp-ui-list-item
{
    transform: translate(0, 0);
}

/* match transitions */
.comp-ui-list-item.selected-active
{
    transition-delay: 0;
}
/* */


/* page-header */

.page-leave-active .page-header,
.page-enter-from .page-header
{
    transform: translate(0, -100%);
    opacity: 0;
}

/* */


.comp-ui-list-item {
    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
            transition-delay: calc(#{$base-delay} + #{$i} * #{$delay-increment});
        }
    }
}

.page-enter-to {
    .comp-ui-list-item {
        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                transition-delay: calc(#{$base-delay} + #{$i} * #{$delay-increment} + (#{$delay-increment} * 2));
            }
        }
    }
}