
$base-delay: 0ms;
$base-button-delay: 2s;
$delay-increment: 100ms;
$transition-time1: 1s;


.page-enter-active,
.page-leave-active {
  transition: all calc(#{$transition-time1} * 0.7) ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}


/* comp-ui-list */
.page-header, .comp-ui-list-item
{
    transition: $transition-time1 ease-in-out;
}

.page-leave-active .comp-ui-list-item
{
    transform: translate(-100%, 0);
    opacity: 0;
}

.page-enter-from .comp-ui-list-item
{
    transform: translate(100%, 0);
    opacity: 0;
}


.page-enter-to .comp-ui-list-item
{
    transform: translate(0, 0);
}

/* match transitions */
.comp-ui-list-item.selected-active
{
    transition-delay: 0;
}
/* */


/* page-header */

.page-leave-active .page-header,
.page-enter-from .page-header
{
    transform: translate(0, -100%);
    opacity: 0;
}

/* */


.comp-ui-list-item {
    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
            transition-delay: calc(#{$base-delay} + #{$i} * #{$delay-increment});
        }
    }
}

.page-enter-to {
    .comp-ui-list-item {
        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                transition-delay: calc(#{$base-delay} + #{$i} * #{$delay-increment} + (#{$transition-time1} * 0.5));
            }
        }
    }
}




.button1
{
    animation: pop-in1 calc(#{$transition-time1} / 2) ease-out forwards;
    opacity: 0;
}

.button1 {
    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
            animation-delay: calc(#{$base-button-delay} + #{$i} * #{$delay-increment});
        }
    }
}


/* .scroll-resize-to-50p */

.scroll-resize-to-50p
{
    transition: width 0.1s;
}

@for $i from 0 through 50 {
    .scroll-top-#{($i * 1)}vh .scroll-resize-to-50p
    {
        width: #{100 - $i}#{"%"};
    }
}

@for $i from 50 through 100 {
    .scroll-top-#{($i * 1)}vh .scroll-resize-to-50p
    {
        width: 50%;
    }
}

/* */


.scroll-top-0vh .scroll-resize-to-50p
{
    width: 100%;
}
.scroll-top-10vh .scroll-resize-to-50p
{
    width: 90%;
}
.scroll-top-20vh .scroll-resize-to-50p
{
    width: 80%;
}
.scroll-top-30vh .scroll-resize-to-50p
{
    width: 70%;
}
.scroll-top-40vh .scroll-resize-to-50p
{
    width: 60%;
}
.scroll-top-50vh .scroll-resize-to-50p
{
    width: 50%;
}


@keyframes enter1 {
    from {
        transform: translate(0, 100%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop-in1 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    30% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.enter1 {
    animation: enter1 1s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
}
