.list-enter-active,
.list-leave-active,
.list-move {
  transition: 1s cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transform-origin: center top;
}

.list-enter {
  opacity: 0;
  transform: translateY(50%);
}

.list-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

.list-leave-to {
  opacity: 0;
  transform: translateY(0);
}




.fade-enter-active,
.fade-leave-active,
.fade-move {
  transition: 0.6s cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}



.slide-enter-active,
.slide-leave-active,
.slide-move {
  transition: 1s cubic-bezier(0.59, 0.12, 0.34, 0.95);
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.slide-enter-to,
.slide-leave {
  opacity: 1;
  max-height: 25rem;
  overflow: hidden;
}




.slide-hor-enter-active,
.slide-hor-leave-active,
.slide-hor-move {
  transition: 0.6s;
}
.slide-hor-enter,
.slide-hor-leave-to {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
}
.slide-hor-enter-to,
.slide-hor-leave {
  opacity: 1;
  max-width: 20rem;
  overflow: hidden;
}




.slide2-enter-active,
.slide2-leave-active,
.slide2-move {
  transition: 0.6s;
}
.slide2-enter,
.slide2-leave-to {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.slide2-enter-to,
.slide2-leave {
  opacity: 1;
  max-height: 15rem;
  overflow: hidden;
}



.slide3-enter-active,
.slide3-leave-active,
.slide3-move {
  transition: 1s;
}
.slide3-enter,
.slide3-leave-to {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.slide3-enter-to,
.slide3-leave {
  opacity: 1;
  max-height: 30rem;
  overflow: hidden;
}





.slide-large-enter-active,
.slide-large-leave-active,
.slide-large-move {
  transition: 1.5s cubic-bezier(0.59, 0.12, 0.34, 0.95);
}
.slide-large-enter,
.slide-large-leave-to {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.slide-large-enter-to,
.slide-large-leave {
  opacity: 1;
  max-height: 100vh;
  overflow: hidden;
}





.fade
{
  animation: fade 1s cubic-bezier(0.59, 0.12, 0.34, 0.95);
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}

