[draggable=true] {
    background-color: var(--white-1);
    user-select: none;
    cursor: grab;
    transition: 0.3s;
}

[draggable=true]:hover {
    background-color: var(--white-3);
    transition: 0s;
}

.dropzone {
    transition: 0.3s;
}

.dropzone.dragover {
    border: 0px dashed #ffffff;
    /* Striped background */
    background: repeating-linear-gradient(45deg,
            var(--white-2),
            var(--white-2) 10px,
            var(--white-4) 10px,
            var(--white-4) 20px);
    transition: 0s;
}