*
{
}

*:not(td)
{
  border-radius: 0.5em;
}

div
{
  position: relative;
}

body
{
  background: black;
  overflow-y: scroll;
}

.grid
{
  display: grid;
}

body, h1, h2, h3, h4, h5, h6,
select, input, textarea, button
{
  color: white;
  font-family: arial;
  text-shadow: -3px 3px 2px #000000a0;
}

select, textarea
{
  width: 100%;
}

ul
{
  list-style-type: none;
}
li
{
  margin: 1px 0;
}

.hover-highlight:hover
{
  background: #ffffff20;
  transition: 0s;
}
.highlighted
{
  background: #ffffff40;
}
.highlighted:hover
{
  background: #ffffff70;
}
.tree .title.highlighted:hover
{
  background: #ffffff70;
}
.tree-node
{
  width: 100%;
}
.selected
{
  background: #ffffff40;
}

.highlighted-group > :not(.ide-highlighted)
{
  opacity: 0.5 !important;
}
.ide-highlighted
{
  opacity: 1 !important;
}
.ide-highlighted
{
  transform: scale(1.1);
}
.ide-highlighted
{
  border: 3px dashed #ffffff80 !important;
  background-size: auto auto;
  box-shadow: inset -3px 3px 6px 6px #00000020;
}

table
{
  width: 100%;
}
td, th
{
  text-align: left;
}
th
{
  white-space: nowrap;
}
table.bordered td, table.bordered th
{
  border: 1px solid #ffffff40;
}
div.padded, table.padded td, table.padded th
{
  padding: 0.3em 0.6em;
}

.tree
{
  width: 100%;
}
.tree li, .menu .tree li
{
  padding: 0 !important;
}
.tree .title, .title
{
  width: min-content;
  white-space: pre;
  padding: 0 1em 0 0.3em;
  max-width: 20em;
}
.tree .selected
{
  background: none;
}
.title:hover
{
  background-color: #ffffff40;
  transition: 0s;
}
.tree .selected > .title,
.tree .selected > .title:hover
{
  background: #ffffff60;
  box-shadow: -3px 3px 3px #00000080;
}
.menu ul.tree, .tree li:hover
{
  background: none !important;
  white-space: nowrap;
}
.tree li div
{
  /* max-height: 1.9em;*/
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}

li, pre, button
{
}

li
{
}
li:hover, tr:hover > td
{
}
tr:hover > td:first-child
{
  border-radius: 0.5em 0 0 0.5em;
}
tr:hover > td:last-child
{
  border-radius: 0 0.5em 0.5em 0;
}
.selected:hover
{
  background: #ffffff80 !important;
}

.parent .visible-if-parent-hover
{
  opacity: 0;
}
.parent:hover .visible-if-parent-hover
{
  opacity: 1;
}


code
{
  white-space: pre-wrap;
  word-break: break-all;
}

button
{
  padding: 0.3em 1em !important;
  box-shadow: -3px 3px 2px #00000060;
  cursor: pointer;
  font-size: 1em;
}
button /* .ide-button */
{
  background: #404040;
  filter: grayscale(1);
  opacity: 0.7;
  transition: 0.3s;
}
button /* .ide-button:hover */
{
  transform: scale(1.1);
  filter: none;
  opacity: 1;
}


input, textarea, select, option, .ide-checkbox
{
  width: 100%;
  padding: 0.2em 0.5em !important;
  background: #00000060;
  box-shadow: inset -3px 3px 3px #000;
  font-family: monospace !important;
  text-shadow: -3px 3px 2px #000000a0;
  border: none;
}
input[type=checkbox], .ide-checkbox
{
  width: 1.6em;
  height: 1.6em;
  margin: 0 0.5em;
  cursor: pointer;
  background: #979797;
  transform: scale(1.1);
}
input, input[type=text], select
{
  font-size: 120%;
}
.ide-checkbox
{
  background: #666666;
  padding: 0.2em !important;
  width: 1.8em;
  height: 1.8em;
}
.ide-checkbox.checked
{
  opacity: 1;
}
.ide-checkbox > *
{
  opacity: 0.3;
}
.ide-checkbox.checked > *
{
  opacity: 1;
}

select
{
  background: #00000030;
  box-shadow: -2px 2px 2px #000;
}
select:hover
{
  background: #00000020;
}
input:hover, textarea:hover
{
  background: #00000050;
  transition: 0s;
}

textarea
{
  min-height: 10em;
  font-size: 1.1rem;
}


select, input[type=range]
{
  cursor: pointer;
}



.menu hr
{
  opacity: 0.2;
}
.menu, li.submenu > ul
{
  display: none;
  opacity: 0;
}
.menu, .menu ul:not(.tree)
{
  position: fixed;
  background: #303030;
  box-shadow: -6px 6px 12px #000;
  transition: all 0.6s, left 0s;
  z-index: 10;
  min-width: 15em;
  top: 30px;
}
.menu.hinted
{
  display: block !important;
  opacity: 0.6 !important;
  margin-top: 1rem;
}
.menu.visible
{
  display: block !important;
  opacity: 1 !important;
  top: 0;
}
.menu .items
{
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}
.menu.visible .items
{
  max-width: 50em;
  max-height: 40em;
  overflow: hidden;
}
.menu
{
  margin-top: 1em;
}
.submenu:hover > ul > li > .menu:not(.hinted)
{
  display: block !important;
  opacity: 1;
}
.menu li
{
  margin: 0;
  padding: 0.5em 1em !important;
}
.menu li:hover
{
  background: #ffffff30;
}
.menu li.p-0
{
  padding: 0 !important;
}
/*
.menu li.submenu:before
{
  content: "▶";
  position: absolute;
  right: 1em;
  opacity: 0.2;
}
*/
.menu ul
{
}
.menu ul,
.menu li.submenu:hover > ul
{
  transition: all 0.6s, left 0s;
}
.menu ul .menu
{
  margin: 0;
}
.menu li.submenu > ul
{
  opacity: 0;
}
.menu li.submenu:hover > ul:not(.hinted)
{
  display: block;
  opacity: 1;
  z-index: 20;
}

.menu.fade-out
{
  margin-left: 6em;
  transition: 0.6s;
}

.menu2
{
  background: #606060;
}
.menu2 > *
{
  padding: 0.5em 1em;
}
.menu2 > div:hover
{
  background: #ffffff30;
  transition: 0s;
}


.ide-sort-placeholder
{
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.drag-over + .ide-sort-placeholder,
.drag-over > .ide-sort-placeholder
{
  height: 1em;
}
.ide-sort-placeholder.drag-over
{
  height: 3em;
}


[draggable], .ide-item
{
  width: 100%;
  transition: 0.6s;
  padding: 0.2em 1em;
  white-space: nowrap;
}
[draggable=true]
{
  transition: 0.6s !important;
  cursor: grab;
}
[draggable=true]:hover, .ide-item:hover
{
  background: #ffffff30;
  transition: 0s !important;
}
[draggable=true]:active
{
  cursor: grabbing;
}
[draggable=true].dragged
{
  border: 2px dashed #ffffff60;
}
.drag-target
{
  border: 3px solid #ff333360;
}
.drag-over
{
  border: 2px dashed yellow;
  box-shadow: inset -4px 4px 2px #000000;
  border-radius: 0.5em;
  transition: 0.1s;
}
.drag-over > *
{
}

.ide-drag-ongoing
{
  display: none !important;
}
.ide-drag-zoom
{
  transition: 1s;
}
.ide-drag-zoom.on
{
  transition: 1s;
}


.gradient-opacity-t-b
{
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}


.block-ui
{
  pointer-events: none;
}
.disabled
{
  opacity: 0.5 !important;
  filter: grayscale(1);
  text-decoration: line-through;
}
.disabled2
{
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}

.warning
{
  text-shadow: -3px 3px 1px #000;
  background: #ffa530a0;
  padding: 0.5em;
}
.error
{
  text-shadow: -3px 3px 1px #000;
  background: #b03030;
  padding: 0.5em;
  font-weight: normal;
}

.clickable
{
  cursor: pointer;
}
.clickable:hover
{
  background: #ffffff20;
  transition: 0s;
}


progress
{
  width: 100%;
}


::selection,
::-moz-selection
{
  background: #0e7abd;
}


.flex
{
}

.progress-bar
{
  margin: auto;
  max-width: 50em;
  height: 1.5em;
  background: #ffffff30;
  border-radius: 0.5em;
  overflow: hidden;
}

.progress-bar-fill
{
  height: 100%;
  background: #ffffff60;
  transition: 0.6s;
}


[tooltip]::before {
  content: attr(tooltip);
  position: absolute;
  width: max-content;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  z-index: 1;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, 110%);
  transition: 0.3s;
}

/* Show the tooltip text when hovering over the element */
[tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}



svg
{
  z-index: 100;
}
